{% embed '@SyliusShop/shared/accordion/accordion_item_title.html.twig' with {accordion_item_id: 'documents'} %}
    {% block accordion_item_title %}
        <span class="d-inline-flex align-items-center gap-2">
            {{ 'bitexpert_product_document.ui.download_documents'|trans }}
        </span>
    {% endblock %}
{% endembed %}
